@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color-2);
    
}
.container_header {
    /* background: red; */
  
   
    padding-top: 22px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.container_menu {
    /* background: blue; */
    margin-left: -43px;
    width: 1378px;
    height: 96px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.img_sol{
    width: 40px;
    height: 40px;
    margin-top: 64px;
    margin-left: 28px
}
.img_aqua{
    background: var(--color-1);
    width: 298px;
    height: 96px;
    margin-right: 99px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 48px;
    justify-content: center;
}
.img_text{
    h1{
        font-size: 48px;
        font-family: "RobotoCondensed-Regular";
        font-weight: 100;
    }
    
}
.img_log{
    img{
        width: 46px;
        height: 45px;
    }
    
}
.container_options {
    /* background: violet; */
    width: 732px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 214px;
}
.container_options a{
    font-size: 24px;
    font-family: "RobotoCondensed-Bold";
    color: var(--color-1);
    text-decoration: none;
}
.img_luna{
    img{
        width: 35px;
        height: 35px;
    }
}

/*********************** main ***************************/

.container_main {
    
    
}
/******************** inicio**********************/

.container_inicio {
    /* background: red; */
    display: flex;
    flex-direction: row;
    padding-top: 29px;
    margin-left: 100px;
}
.first_container {
    /* background: blue; */
}
.img_crae {
    /* background: turquoise; */
    width: 707px;
    height: 391px;
}

.text_crae {
    /* background: violet; */
    width: 707px;
}
.crae_title{
    width: 707px;
    height: 71px;
    margin-top: 26px;
    h1{
        font-size: 56.4px;
        font-family: "RobotoCondensed-Regular";
        color: var(--color-1);
    }
}
.crae_paragraph{
    width: 685px;
    height: 91px;
    margin-top: 13px;
    p{
        font-size: 26px;
        font-family: "RobotoCondensed-Regular";
        color: var(--color-1);
    }
}
.second_container {
    /* background: teal; */
    margin-left: 79.45px;
    
}
.img_cards {
    /* background: yellow; */
    width: 405.12px;
    height: 432.07px;
    margin-top: 48.97px;
    transform: rotate(13deg);
}
.container_button {
    background: var(--color-1);
    width: 237px;
    height: 54px;
    margin-top: 14.97px;
    margin-left: 107px;
    border-radius: 31.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.container_button img{
    width: 36px;
    height: 36px;
}
.container_button button{
    width: 145px;
    height: 48px;
    border: none;
    background: var(--color-1);
    font-size: 40px;
    font-family: "RobotoCondensed-Bold";
}
.networks {
    /* background: orange; */
    margin-left: 45.44px;
    width: 82px;
    height: 218px;
    margin-top: 340px;
    padding-bottom: 19.74px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.networks a{

}
.networks a:nth-child(1){
    /* background: tan; */
    width: 48.41px;
    height: 48.4px;
}
.networks a:nth-child(2){
    /* background: tan; */
    width: 50px;
    height: 50px;
}
.networks a:nth-child(3){
    /* background: tan; */
    width: 50px;
    height: 54.36px;
}

/******************** como jugar **********************/
.container_como-jugar {
    /* background: red; */
    margin-top: 56px;
}
.container_title {
    /* background: blue; */
    h1{
        width: 363px;
        height: 71px;
        margin-left: 538px;
        /* background: orange; */
        color: var(--color-1);
        font-size: 64px;
        font-family: "RobotoCondensed-Bold";
    }
    p{
        width: 654px;
        height: 146px;
        margin-left: 393px;
        margin-top: 41px;
        /* background: yellow; */
        font-size: 36px;
        font-family: "RobotoCondensed-Regular";
        color: var(--color-1);
        text-align: center;
    }
}
.container_list {
    /* background: violet; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.list {
    /* background: teal; */
    display: flex;
    flex-direction: row;
    margin-top: 41px;
}
.circle {
    background: var(--color-1);
    margin-top: 29px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 169px;
    h1{
        font-size: 64px;
        font-family: "RobotoCondensed-Bold";
        color: var(--color-2);
        align-items: center;
    }
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        width: 752px;
        height: 187px;
        display: flex;
        margin-left: 32px;
        font-size: 28px;
        align-items: center;
        font-family: "RobotoCondensed-Regular";
        color: var(--color-1);
    }
    img{
        width: 162px;
        height: 162px;
        margin-left: 53px;
    }
}
/**************** apoyanos **********************/

.container_apoyanos {
    /* background: red; */
    display: flex;
    flex-direction: row;
}
.container_text {
    /* background: blue; */
    margin-left: 140px;
    margin-top: 212px;
    h1{
        width: 305px;
        height: 71px;
        font-size: 72px;
        font-family: "RobotoCondensed-Bold";
        color: var(--color-1);
        
    }
    p{
        width: 751px;
        height: 184px;
        font-size: 36px;
        font-family: "RobotoCondensed-Regular";
        margin-top: 83px;
        color: var(--color-1);
    }
}

.container_img{
    /* background: violet; */
    margin-top: 245px;
    margin-left: 37px;
    
}
.pc{
    /* background: teal; */
    width: 375px;
    height: 305px;
}
.aporte{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-1);
    width: 282px;
    height: 57px;
    border-radius: 32.5px;
    margin-left: 47px;
    margin-top: 52px;
    button{
        font-size: 36px;
        font-family: "RobotoCondensed-Bold";
        border: none;
        background: var(--color-1);
    }
}
.container_sobrenosotros {
    display: flex;
    margin-right: 90px;
    margin-left: 140px; 
    margin-top: 170px;
}
.text {
    display: flex;
    flex-direction: column;
    margin-right: 90px;
    width: 713px;
    height: 452px;
    gap: 69px;
    color: var(--color-1);
    h1{
        font-family: "RobotoCondensed-Bold";
        font-size: 72px;
    }
    p{
        font-family: "RobotoCondensed-Regular";
        font-size: 36px;
    }
}
.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 152px;
    p{
        font-family: "RobotoCondensed-Regular";
        font-size: 96px;
        color: var(--color-1);
    }
}
.img_main {
    display: flex;
    img:nth-child(1){
        position: relative;
        right: -20px;
    }
    img:nth-child(2){
        position: relative;
        left: -100px;
    }


}
.text_img {
    display: flex;
    flex-direction: row;
}
